0.0.0.0:80 {
  proxy /jsonrpc localhost:6800 {
    transparent
    websocket
  }
  
  gzip
  log stdout
  errors stdout
}

0.0.0.0:80/ui {
  redir / /ui/ 301
}

0.0.0.0:80/ui/ {
  root /app/aria2-ng
  timeouts none
  gzip
  log stdout
  errors stdout

  basicauth / {$ARIA2_USER} {$ARIA2_PWD}
}
